title = "Home"
url = "/"
layout = "default"
description = "Examening home page"
is_hidden = 0

[sociallogin]

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[recentcomments]
numberofcomments = 2
==
<?php
function onInit()
{
  $this['posts'] = \RainLab\Blog\Models\Post::isPublished()->orderBy('published_at', 'desc')->take(2)->get();
}
?>
==
<div class="main-wrapper">
    <section class="page-title bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <h2 class="text-capitalize mb-4 text-md text-white"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section blog-wrap bg-gray">
        <div class="row">
            <div class="col-md-10">
                <div class="col-12 blog-item text-center mx-3 py-2">
                    <h3>Recent blog posts</h3>
                </div>
                <div class="row">
                {% for post in posts %}
                    <div class="col-md-6 blog-item">
                        <div class="blog-item-content bg-white px-3 py-2">
                            <h4 class="mt-3 mb-3 text-center"><a href="{{ 'blog-post'|page({ slug: post.slug }) }}">{{ post.title }}</a></h4>
                            <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> {{ post.published_at|date('d M Y') }}</span>
                            {% for tag in post.tags %}
                                <span class="blogtag"><a href="{{ 'subject'|page({ tag: tag.name }) }}">{{ tag.name }}</a></span>
                            {% endfor %}
                            {% if post.featured_images.count > 0 %}
                                <img class="media-object img-fluid rounded pt-1 float-left pr-2" src="{{ post.featured_images.first.getThumb(250, 250, 'crop') }}" />
                            {% endif %}
                            {% if post.excerpt %}
                                <p class="excerpt text-justify">{{ post.excerpt }}</p>
                            {% else %}
                                <div class="content">{{ post.content_html|raw }}</div>
                            {% endif %}
                            <a href="{{ 'blog-post'|page({ slug: post.slug }) }}" class="btn btn-small btn-main btn-round-full">more</a>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="no-data">
                            <p>{{ noPostsMessage }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 blog-item text-center mx-3 py-2">
                        <h3>Latest media</h3>
                    </div>
                </div>
                {% partial 'frontpagemedia' %}
            </div>
            <div class="col-md-2">
                {% component 'recentcomments' %}
            </div>
        </div>
    </section>
</div>